@font-face {
  font-family: 'Helveticaneue';
  src: url("/assets/fonts/helveticaneue.ttf") format('truetype');
}
@font-face {
  font-family: "proxima nova";
  src: url("/assets/fonts/Proxima-Nova Light.ttf") format('truetype');
}
@font-face {
  font-family: "Didot";
  src: url("/assets/fonts/Didot-Medium.ttf") format('truetype');
}
@font-face {
  font-family: "Didot";
  src: url("/assets/fonts/Didot-Medium-Ital.ttf") format('truetype');
  font-style: italic;
}
@font-face {
  font-family: "Cochin";
  src: url("/assets/fonts/LeCochinBQ-Italic.otf") format('opentype');
  font-style: italic;
}
