header {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color:rgba(0, 0, 0, 0.5);
}

header > a {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
