// ABOUT // // ABOUT // // ABOUT //
// WIDTH PAGE-CONTAINER-BREAKPOINTS //
$about-xss: 0;
$about-xs: 420px;
$about-sm: 800px;
$about-md: 1100px;
$about-lg: 1500px; // WIDTH PAGE-CONTAINER-BREAKPOINTS //

%sub-skill {
  margin-left: 40px;

  .bar {
    .bar-inside {
      height: 8px;
      color: #fff;
      background-color: #000;
    }
  }

  .skill-item {
    .skill-img {
      img {
        max-width: 50px;
        max-height: 60px;
      }
    }

    .skill-info {
      .skill-name {
        font-size: 18px;
      }

      .skill-description {
        font-size: 10px;
      }
    }
  }
}

#about-page {
  overflow: hidden;
  background: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.9fr;
  -webkit-box-shadow: 0 0 20px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 20px 8px rgba(0,0,0,0.75);
  box-shadow: 0 0 20px 8px rgba(0,0,0,0.75);
  @media screen and (max-width: 1024px) {
    display: block !important;
  }

  .item {
    font-size: 2em;

    h1 {
      margin: 2vh 0 0 5vh;
      font-size: 50px;
      color: #111111;
      font-family: Didot;
      font-style: italic;
    }
    @media screen and (max-width: $about-lg) {
      h1 {
        font-size: 40px !important;
      }
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 2px solid black;
      margin: 0 0 0.6em;
      padding: 0;
    }
  }

  .about-me-side {
    margin: 10vh 6vh 1vh;

    .about-info {
      display: inline-block;
      width: 100%;

      h2 {
        font-family: Roboto;
        color: grey;
        font-size: 28px;
        margin: 0 5% 0.8em;
        text-align: center;

        span {
          color: #666666;
        }
      }

      p {
        margin: 0 10% 10px;
        display: inline-block;
        font-size: 20px;
        color: #111111;
        font-family: proxima nova;
        line-height: 1.4em;
        text-align: center;
      }
    }
  }

  .service-side {
    margin: 4vh 6vh;

    .service-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @media screen and (max-width: $about-lg) {
        display: block;
      }

      .service {
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: $about-lg) {
          width: 33%;
        }
        @media screen and (max-width: $about-sm) {
          width: 100%;
        }

        .service-head {
          font-family: Raleway;
          text-align: center;
          font-size: 20px;
          margin: 0 !important;
          font-style: normal;
          font-weight: 300;
          color: #333;
          @media screen and (max-width: $about-lg) {
            font-size: 17px !important;
          }

          span {
            font-weight: 700;
          }
        }

        p {
          color: #888;
          text-align: center;
          font-size: 16px;
          font-family: Raleway;
          font-weight: 400;
          margin: auto 30px;
          line-height: 1.3em;
          @media screen and (max-width: $about-lg) {
            margin: 30px 10px !important;
            font-size: 12px !important;
          }
        }

        .login-icon {
          text-align: center;

          i {
            color: #333;
            padding: 30px;
            margin: 20px;
            font-size: 50px;
            @media screen and (max-width: $about-lg) {
              font-size: 40px !important;
              padding: 0 !important;
            }
          }
        }
      }
    }
  }

  .skills-side {
    margin: 10vh 3vh 4vh 4vh;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    @media screen and (max-width: 1024px) {
      margin: 4vh 3vh 4vh 4vh;
    }

    .skill {
      margin-bottom: 16px;
      // &:nth-child(4),
      // &:nth-child(6),
      // &:nth-child(7) {
      //   @extend %sub-skill;
      // }
      p {
        text-align: center;
        font-family: Raleway;
        font-size: 25px;
        padding-top: 5px;
        font-weight: 300;
        color: #333;

        img {
          margin: 0 5px;
          max-width: 50px;
          max-height: 60px;
        }
      }

      .skill-item {
        display: block;

        .skill-img {
          display: inline-block;
          margin-bottom: 10px;

          img {
            max-width: 50px;
            max-height: 60px;
            text-align: center;
            margin-right: 20px;

            :hover {
              filter: grayscale(100%);
            }
          }
        }

        .skill-info {
          display: inline-block;

          .skill-name {
            font-family: Raleway;
            display: inline-block;
            color: #000;
            font-size: 20px;
            margin-bottom: 5px;
          }

          .skill-description {
            color: #000;
            font-size: 12px;
            font-style: italic;
          }
        }
      }

      .bar {
        color: #000;
        border: 1px black solid;

        .bar-inside {
          height: 10px;
          color: #fff;
          background-color: #000;
        }
      }
    }
  }
}
// ABOUT // // ABOUT // // ABOUT //
