// CONTACT // // CONTACT // // CONTACT //

#contact-page {
  background-color: white;
  height: auto;
  top: 0;
  left: 0;
  width: 100%;

  .logo-img {}

  .social-media {
    ul{
      li {
        display: inline-block;
      }
    }
  }

  .contact {
    font-size: 0.75em;
  }
}
// CONTACT // // CONTACT // // CONTACT //
